


<div [ngClass]="isDarkMode ? 'dark-theme' : 'light-theme'" class="wrap-skill-component">
    <div class="skill-content">
        <h3 *ngIf="!showSkeleton" class="skill-title">{{ skill.title | translate }}</h3>
        <!-- Skeleton Title -->
        <p-skeleton *ngIf="showSkeleton" width="10rem" />
        <p *ngIf="!showSkeleton" class="skill-subtitle">{{ skill.subtitle }}</p>
        <!-- Skeleton Subtitle -->
        <p-skeleton *ngIf="showSkeleton" styleClass="mt-2" width="20rem" />
        <div *ngIf="!showSkeleton" class="skill-animation">
            <img [src]="skill.animation" alt="">
        </div>
        <!-- Skeleton Description -->
        <p-skeleton *ngIf="showSkeleton" size="15rem" styleClass="mt-2" />
        <p *ngIf="!showSkeleton" class="skill-description">{{ skill.description }}</p>
        <!-- Skeleton Description -->
        <div *ngIf="showSkeleton" style="display: flex; flex-direction: column; gap: 1rem; min-width: 100%; margin-top: 2rem;">
            <p-skeleton />
            <p-skeleton />
            <p-skeleton width="15rem"/>
        </div>
    </div>
</div>