
<div class="wrap-contact">
    <app-title-pages [titleType]="titleType" [title]="'CONTACT_PAGE.TITLE' | translate"></app-title-pages>
    <form [formGroup]="formContact" autocomplete="off" class="wrap-form">
      <div class="wrapper-form">
          <!-- Name camp -->
          <div class="form-group">
              <span class="p-float-label">
                  <input formControlName="name" pInputText id="username" [ngClass]="{ 'success': name?.valid }" />
                  <label htmlFor="username">
                      Nombre
                      <span class="required">*</span>
                  </label>
              </span>
          </div>
          <!-- Surname camp -->
          <div class="form-group">
              <span class="p-float-label">
                  <input formControlName="surname" pInputText id="surname" />
                  <label htmlFor="surname">Apellidos</label>
              </span>
          </div>
          <!-- Company camp -->
          <div class="form-group">
              <span class="p-float-label">
                  <input formControlName="company" pInputText id="company"
                      [ngClass]="{ 'success': company?.valid }" />
                  <label htmlFor="company">
                      Empresa
                      <span class="required">*</span>
                  </label>
              </span>
          </div>
          <!-- E-mail camp -->
          <div class="form-group">
              <span class="p-float-label">
                  <input formControlName="email" pInputText id="e-mail" [ngClass]="{ 'success': email?.valid }" />
                  <label htmlFor="e-mail">
                      Correo electrónico
                      <span class="required">*</span>
                  </label>
              </span>
          </div>
          <!-- Phone camp -->
          <div class="form-group">
              <span class="p-float-label">
                  <input formControlName="phone" pInputText id="phone" />
                  <label htmlFor="phone">Teléfono de contacto</label>
              </span>
          </div>
          <!-- Subject camp -->
          <div class="form-group">
              <span class="p-float-label">
                  <input formControlName="subject" pInputText id="subject"
                      [ngClass]="{ 'success': subject?.valid }" />
                  <label htmlFor="subject">
                      Asunto
                      <span class="required">*</span>
                  </label>
              </span>
          </div>
          <!-- Message camp -->
          <div class="form-group textarea">
              <span class="p-float-label">
                  <textarea formControlName="message" id="textarea" rows="5" cols="30" pInputTextarea
                      [(ngModel)]="messageCharactres" (input)="updateCounter()"
                      [ngClass]="{ 'success': message?.valid }">
                      </textarea>
                  <label for="textarea">
                      Escriba aquí su comentario
                      <span class="required">*</span>
                  </label>
                  <p class="counter-characters">Número de carácteres: {{ characterCount }} de {{ maxCharacters }}
                  </p>
              </span>
          </div>
      </div>
      <div class="wrap-buttons">
          <div class="wrap-button-reset">
              <p-button 
                label="Resetear formulario" 
                [outlined]="true" 
                severity="danger" />
          </div>
          <div class="wrap-button-send">
              <p-button 
                type="submit" 
                [disabled]="formContact.invalid" 
                label="Enviar formulario"
                [outlined]="true" severity="info" />
          </div>
      </div>
    </form>
</div>