
@import "/src/styles.scss";


.light-theme,
.dark-theme {
    &.wrap-contact {
        .wrap-form {
            margin-top: 30px;
            .wrapper-form {
                display: flex;
                box-sizing: border-box;
                flex-wrap: wrap;
                justify-content: space-between;
                align-items: center;
                gap: 25px;
                .form-group {
                    flex: 1 1 100%;
                    &:focus-visible {
                        outline: 1px solid $info-border;
                    }
                    .p-float-label {
                        input:focus ~ label,
                        textarea:focus ~ label,
                        input.p-filled ~ label,
                        textarea.p-filled ~ label {
                            top: -1.25rem;
                            font-size: $label-form;
                        }
                    }
                    input,
                    textarea {
                        width: 100%;
                        padding: 10px;
                        background: $white-dark-bg;
                        border-radius: $border-radius-05;
                        border: 1px solid $grey-dark-border;
                    }
                    input {
                        height: 35px;
                    }
                    label {
                        .required {
                            color: $danger-txt;
                        }
                    }
                    textarea {
                        resize: none;
                    }
                }
            }
            .wrapper-buttons {
                display: flex;
                box-sizing: border-box;
                flex-direction: column;
                gap: 15px;
                margin-top: 15px;
                ::ng-deep {
                    p-button {
                        display: block;
                        height: auto;
                        flex: 1 1 100%;
                        button {
                            min-width: 100%;
                        }
                    }
                }
                .wrap-button-reset {
                    order: 2;
                }
                .wrap-button-send {
                    order: 1;
                }
            }
        }
    }
}