


<article [ngClass]="isDarkMode ? 'dark-theme' : 'light-theme'" class="wrap-card">
    <div class="wrap-icon-favorite">
        <i 
            [ngStyle]="{'color': tool.favorite ? 'red' : 'black'}" 
            class="pi pi-heart-fill">
        </i>
    </div>
    <p-card [header]="tool.title | translate" [subheader]="tool.subtitle | translate">
        <ng-template pTemplate="header">
            <div class="wrap-img-tool">
                <img 
                    [src]="tool.image" 
                    [alt]="tool.title" 
                    [title]="tool.title" />
            </div>
        </ng-template>
        <div class="wrap-description">
            <p>{{ tool.description }}</p>
            <button 
                pButton 
                pRipple 
                [label]="'OTHERS.READ_MORE' | translate"
                [outlined]="true" 
                severity="info"
                icon="pi pi-arrow-right" 
                iconPos="right"
                [routerLink]="['/tool', tool.id]">
            </button>
        </div>
        <ul class="wrap-tags">
            <li *ngFor="let tag of tool.tags; let i = index">
                <p-tag severity="success" [value]="tool.tags[i]"></p-tag>
            </li>
        </ul>
        <ng-template pTemplate="footer">
            <a [href]="tool.link" target="_blank" rel="noopener noreferrer">
                <button 
                    pButton
                    pRipple
                    [label]="'OTHERS.WEB' | translate" 
                    [outlined]="true" 
                    icon="pi pi-link" 
                    severity="danger">
                </button>
            </a>
        </ng-template>
    </p-card>
</article>