


<article [ngClass]="isDarkMode ? 'dark-theme' : 'light-theme'" class="wrap-card">
    <p-card [header]="tool.title | translate" [subheader]="tool.subtitle | translate">
        <ng-template pTemplate="header">
            <img 
                [src]="tool.image" 
                [alt]="tool.title" 
                [title]="tool.title" />
        </ng-template>
        <p>
            Lorem ipsum dolor sit amet...
        </p>
        <ng-template pTemplate="footer">
            <a [href]="tool.link" target="_blank" rel="noopener noreferrer">
                <p-button [label]="tool.web" [outlined]="true" severity="danger" />
            </a>
        </ng-template>
    </p-card>
</article>