
@import "/src/styles.scss";

.light-theme, 
.dark-theme {
  &.wrap-card {
    overflow: hidden;
    border-radius: $border-radius-05;
    transition: all .2s ease-in-out;
    &::ng-deep {
      .p-card {
        background: $white-bg;
        color: $black-light-txt;
      }
    }
      
    &:hover {
      /* Hover effect to highlight 3D */
      transform: translateY(-5px); /* Simulates that more "comes out" of the screen */
      /* Effect when we pass the mouse, the shadow intensifies */
      box-shadow: 0px 25px 20px -8px rgba($grey-dark-shadow, 0.3), /* Larger shadow upwards */
    }   
  }
}

.dark-theme {
  &.wrap-card {
    &::ng-deep {
      .p-card {
        background: $black-bg;
        color: $grey-light-txt;
      }
    }
    &:hover {
      box-shadow: 0px 15px 20px -8px rgba($black-strong-shadow, 0.3), /* Larger shadow upwards */
    }
  }
}