


<article [ngClass]="isDarkMode ? 'dark-theme' : 'light-theme'" class="wrap-tool">
    <!-- <div class="wrap-icon-favorite">
        <i 
            [ngStyle]="{'color': tool.favorite ? '#e90502' : ''}" 
            class="pi pi-heart-fill">
        </i>
    </div> -->
    <p-card>
        <ng-template pTemplate="header">
            <div class="wrap-img-tool">
                <app-wrap-imgs 
                    [imageSrc]="tool.image"
                    [altImg]="tool.title | translate"
                    [title]="tool.title | translate"
                    [shapeSkeleton]="shapeSkeleton"
                    [showSkeleton]="showSkeleton" />
            </div>
        </ng-template>
        <div *ngIf="!showSkeleton; else showContent">
            <div class="wrap-description">
                <div class="wrap-description--header">
                    <h3>{{ tool.title | translate }}</h3>
                    <p class="subtitle">{{ tool.subtitle | translate }}</p>
                </div>
                <div class="wrap-description--body">
                    <p>{{ tool.description | translate }}</p>
                    <button 
                        pButton 
                        pRipple 
                        [label]="'OTHERS.READ_MORE_TOOL' | translate"
                        [outlined]="true" 
                        severity="info"
                        icon="pi pi-arrow-right" 
                        iconPos="right"
                        [routerLink]="['/tool', tool.id]">
                    </button>
                </div>
                <div class="wrap-description--footer">
                    <ul class="wrap-tags">
                        <li *ngFor="let tag of tool.tags; let i = index">
                            <p-tag severity="success" [value]="tag | translate"></p-tag>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
        <ng-template #showContent class="wrap-skeleton">
            <!-- skeleton title -->
            <p-skeleton height="2.5rem" />
            <p-skeleton height="2.5rem" styleClass="mt-2" />
            <p-skeleton width="5rem" height="1.5rem" styleClass="mt-2" />
            <!-- skeleton description -->
            <p-skeleton height="1.5rem" styleClass="mt-3" />
            <p-skeleton height="1.5rem" styleClass="mt-2" />
            <p-skeleton width="10rem" height="3rem" styleClass="mt-2" />
            <!-- Skeleton tags -->
            <div class="mt-3" style="display: flex; justify-content: flex-start; align-items: center; gap: .5rem; flex-wrap: wrap;">
                <p-skeleton width="5rem" height="2rem" />
                <p-skeleton width="5rem" height="2rem" />
                <p-skeleton width="5rem" height="2rem" />
                <p-skeleton width="5rem" height="2rem" />
                <p-skeleton width="5rem" height="2rem" />
                <p-skeleton width="5rem" height="2rem" />
                <p-skeleton width="5rem" height="2rem" />
                <p-skeleton width="5rem" height="2rem" />
                <p-skeleton width="5rem" height="2rem" />
                <p-skeleton width="5rem" height="2rem" />
                <p-skeleton width="5rem" height="2rem" />
                <p-skeleton width="5rem" height="2rem" />
            </div>
        </ng-template>
        <!-- Button to go Site -->
        <!-- <ng-template pTemplate="footer">
            <a [href]="tool.link" target="_blank" rel="noopener noreferrer">
                <button 
                    pButton
                    pRipple
                    [label]="'OTHERS.GO_WEB_TOOL' | translate" 
                    [outlined]="true" 
                    icon="pi pi-link" 
                    severity="danger">
                </button>
            </a>
        </ng-template> -->
    </p-card>
</article>