<div class="wrap-error">
    <section class="wrap-animation">
        <iframe src="https://lottie.host/embed/6bf8b921-5e59-4d08-9e37-793a8a4b54de/CCkNLpbzes.json"></iframe>
    </section>
    <section class="wrap-actions">
        <h2>¡¡Este no es el camino!!</h2>
        <div class="wrap-button">
            <p-button 
                pRipple
                [routerLink]="['/']"
                label="Empezamos de nuevo"
                [outlined]="true"
                severity="danger">
            </p-button>
        </div>
    </section>
</div>