

@import "/src/styles.scss";


.light-theme, .dark-theme {
    &.wrap-home {
        position: relative;
        height: 90vh;
        @include min-responsive($tablet) {
            height: calc(100vh - 20.2rem);
        }
        .wrap-forms {
            width: 100%;
            height: 100%;
            position: relative;
            z-index: 1;
            span {
                position: absolute;
                backdrop-filter: blur(1rem);
                transform: translateY(-50%);
                &:first-of-type {
                    background: rgba($primary-bg, .3);
                    width: 15.5%;
                    height: 60%;
                    left: 0;
                    top: 45%;
                    @include min-responsive($tablet) {
                        top: 50%;
                        height: 70%;
                        width: 46%;
                    }
                    @include min-responsive($desktop-laptop) {
                        top: 45%;
                        width: 60.5%;
                    }
                }
                &:nth-of-type(2) {
                    background: rgba($primary-bg, .6);
                    width: 35%;
                    height: 2%;
                    right: 12%;
                    top: 55%;
                    @include min-responsive($tablet) {
                        top: 56.5%;
                    }
                    @include min-responsive($tablet-hor) {
                        top: 65.5%;
                    }
                }
                &:nth-of-type(3) {
                    background: rgba($primary-bg, .6);
                    width: 5%;
                    height: 50%;
                    right: 0;
                    bottom: -15%;
                }
            }
        }
        .wrap-title {
            position: absolute;
            right: 5rem;
            top: 50%;
            transform: translateY(-50%);
        }
    }
}

.dark-theme {
    &.wrap-home {
        .wrap-forms {
            span {
                &:first-of-type {
                    background: rgba($primary-dark-bg, .4);
                }
                &:nth-of-type(2) {
                    background: rgba($primary-dark-bg, .8);
                }
                &:nth-of-type(3) {
                    background: rgba($primary-dark-bg, .6);
                }
            }
        }
    }
}