

@import "/src/styles.scss";

.wrap-home {
    position: relative;
    height: 90vh;
    @include min-responsive($tablet) {
        height: calc(100vh - 202px);
    }
    .wrap-title {
        position: absolute;
        right: 50px;
        top: 50%;
        transform: translateY(-50%);
    }
}