%p-button-danger {
    border: 1px solid $danger-btn;
    background: transparent;
    padding: 10px;
    border-radius: 5px;
    color: $danger-btn;
    text-decoration: none;
    transition: background .2s ease-in-out;
    width: 100%;
    text-align: left;
    &:hover {
        background: $danger-light-btn;
    }
}
%p-button-info {
    border: 1px solid $info-btn;
    background: transparent;
    padding: 10px;
    border-radius: 5px;
    color: $info-btn;
    text-decoration: none;
    transition: background .2s ease-in-out;
    width: 100%;
    text-align: left;
    &:hover {
        background: $info-light-btn;
    }
}