@import "/src/styles.scss";


.light-theme,
.dark-theme {
    &.wrap-navbar {
        position: sticky;
        top: 0;
        z-index: 1000;
        background: rgba($white-bg, .8);
        backdrop-filter: blur(15px);
        padding: 15px;
        transition: box-shadow .2s ease-in-out;
        &.scrolled {
            box-shadow: $navbar-shadow-light;
        }
        .wrap-logo {
            display: block;
            width: fit-content;
            width: -moz-fit-content;
            height: fit-content;
            height: -moz-fit-content;
            margin-right: 25px;
            app-wrapper-imgs {
                display: block;
                width: fit-content;
                width: -moz-fit-content;
                height: fit-content;
                height: -moz-fit-content;
            }
        }
        .navbar-toggler {
            position: relative;
            height: 25px;
            width: 50px;
            padding: 5px;
            &:focus,
            &:focus-visible {
                box-shadow: none;
            }
            span {
                transition: transform .2s ease-in-out;
                width: 50px;
                height: 3px;
                display: block;
                margin: 5px 0;
                background: $black-light-txt;
                position: absolute;
                &:first-of-type {
                    top: 6px;
                    right: -1px;
                    transform: rotate(25deg);
                }
                &:last-of-type {
                    top: 7px;
                    right: -1px;
                    transform: rotate(-25deg);
                }
            }
            &.collapsed span {
                &:first-of-type {
                    top: 0;
                    right: 0;
                    transform: rotate(0deg);
                }
                &:last-of-type {
                    top: 10px;
                    right: 0;
                    transform: rotate(0deg);
                }
            }
        }
        .navbar {
            &-toggler {
                border: none;
            }
            &-toggler-icon {
                width: 5rem;
                height: 3rem;
            }
            &-collapse {
                @include max-responsive($mobile) {
                    margin-top: 20px;
                }
            }
        }
        .navbar-nav {
            display: flex;
            box-sizing: border-box;
            justify-content: space-between;
            align-items: center;
            flex: 1 1 100%;
            &.menu {
                display: flex;
                box-sizing: border-box;
                justify-content: flex-start;
                align-items: center;
                flex: 1 1 calc(50% - 12.5px);
                margin-right: 0;
                min-width: 50%;
                border-bottom: 1px solid $grey-light-border;
                padding: 15px 0;
                @include min-responsive($tablet) {
                    border-bottom: none;
                    padding-bottom: 0;
                    min-width: fit-content;                    
                }
                .nav-item {
                    @include min-responsive($tablet) {
                        margin-right: 15px;
                    }
                    cursor: pointer;
                    &:last-of-type {
                        margin-right: 0;
                    }
                    a {
                        transition: all .2s ease-in-out;
                        &:hover {
                            color: $black-light-txt;
                        }
                        &.active::before {
                            content: '';
                        }
                    }
                }
            }
            &.end {
                display: flex;
                box-sizing: border-box;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                min-width: 100%;
                margin-top: 20px;
                @include min-responsive($tablet) {
                    justify-content: flex-end;
                    flex-direction: row;
                    margin-top: 0;
                    min-width: auto;
                }
                .icon-lang {
                    font-size: $icon-lang;
                    margin-right: 0;
                    @include min-responsive($tablet) {
                        margin-right: 10px;
                    }
                }
                .form-select {
                    font-size: $txt-main;
                    width: 195px;
                    padding: 10px;
                    margin-top: 10px;
                    background: transparent;
                    @include min-responsive($tablet) {
                        margin-top: 0;
                    }
                }
                .mode-button {
                    margin-top: 20px;
                    background: transparent;
                    border: none;
                    border-top: 1px solid $grey-light-border;
                    padding-top: 20px;
                    min-width: 50%;
                    @include min-responsive($tablet) {
                        margin-top: 0;
                        margin-left: 10px;
                        min-width: auto;
                        border-top: none;
                        padding-top: 0;
                    }
                    .pi {
                        font-size: $icon-mode;
                    }
                }
            }
        }
    }
}

.dark-theme {
    &.wrap-navbar {
        &.scrolled {
            box-shadow: $navbar-shadow-dark;
        }
        .navbar-toggler {
            span {
                background: $white-txt;
            }
        }
        background: rgba($black-bg, .8);
        backdrop-filter: blur(15px);
        .navbar-nav {
            &.menu {
                border-bottom: 1px solid $black-light-border;
                @include min-responsive($tablet) {
                    border-bottom: none;
                }
                .nav-item {
                    margin-right: 0;
                    @include min-responsive($tablet) {
                        margin-right: 15px;
                    }
                        a {
                            color: $white-txt;
                            &:hover {
                             color: $white-dark-txt;
                            &.active::before {
                                content: '';

                            }
                        }      
                    }
                } 
            }
            &.end {
                .icon-lang {
                    font-size: $icon-lang;
                    color: $white-txt;
                }
                .form-select {
                    background: transparent;
                    color: $grey-txt;
                    border: 1px solid $white-dark-border;
                    text-align: center;
                    @include min-responsive($tablet) {
                        text-align: start;
                    }
                    option {
                        color: $black-light-txt;
                    }
                }
                .mode-button {
                    background: transparent;
                    color: $white-txt;
                    border-top: 1px solid $black-light-border;
                    @include min-responsive($tablet) {
                        border-bottom: none;
                    }
                }
            }
        }
    }
}


// Skeletons
.wrap-skeleton-navbar {
    display: flex;
    box-sizing: border-box;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
}