

<nav 
    [ngClass]="darkMode ? 'dark-theme' : 'light-theme'" 
    class="wrap-navbar navbar navbar-expand-md">
    <div class="container-fluid">
        <a 
            href="javascript:;" 
            class="wrap-logo">
            <app-wrapper-imgs [navbarData]="logoData" />
        </a>
        <button 
            type="button" 
            data-bs-toggle="collapse" 
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" 
            aria-expanded="false" 
            aria-label="Toggle navigation"
            class="navbar-toggler">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <div class="navbar-nav menu">
                    <li *ngFor="let item of menuItems" class="nav-item">
                        <a 
                            href="javascript:;"
                            class="nav-link" 
                            aria-current="page">
                            {{ item.label | translate }}
                            <span [class]="item.icon"></span>
                        </a>
                    </li>
                </div>
                <div class="navbar-nav end">
                    <select 
                        #langSelect 
                        (change)="changeLang( langSelect.value )" 
                        class="form-select"
                        aria-label="Default select example">
                        <option selected disabled>Elige un idioma</option>
                        <option 
                            *ngFor="let lang of langs" 
                            [value]="lang">
                            {{ lang }}
                        </option>
                    </select>
                    <button (click)="toggleDarkMode()" class="mode-button">
                        <span 
                            [class]="darkMode ? 'pi-sun' : 'pi-moon'" 
                            class="pi pi-fw">
                        </span>
                    </button>
                </div>
            </ul>
        </div>
    </div>
</nav>