


.wrap-dial {
    position: fixed;
    left: 2rem;
    bottom: calc(9rem + 17.25rem);
}
.wrap-cv-button {
    position: fixed;
    left: 2rem;
    bottom: 2rem;
}

.wrap-dial,
.wrap-cv-button {
    z-index: 999;
}