<app-cookies-banner />
<app-nav-bar *ngIf="showNavbarFooter" />
<div [ngClass]="isFullWidth ? '' : 'container my-5'">
    <router-outlet />
</div>
<div class="wrap-dial">
    <div class="speeddial-tooltip">
        <p-speedDial 
            [model]="itemDial || null" 
            direction="up" 
            transitionDelay="80" 
            showIcon="pi pi-bars" 
            hideIcon="pi pi-times" 
            buttonClassName="p-button-outlined" />
    </div>
</div>
<div class="wrap-cv-button">
    <app-download-cv 
        [buttonText]="buttonDownloadText"
        [fileName]="nameFileDownload" 
        [filePath]="pathFileDownload" />
</div>
<app-footer *ngIf="showNavbarFooter" />
