@import "/src/styles.scss";

.wrap-skeleton {
    margin: 2rem 0;
}

.light-theme, 
.dark-theme { 
    &.wrap-title {
        .title {
            position: relative;
            padding-bottom: .5rem;
            color: $black-light-txt;
            &.center-text {
                text-align: center;
            }
            /* Pseudoelement to create the underline */
            &.with-underline {
                &::after {
                    content: '';
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    width: 0;
                    height: .1rem;
                    background-color: $black-light-border; /* Underline color */
                    animation: underline-animation 2s ease forwards;
                }
            }
            &.sizes-home {
                font-size: 10rem;
                @include min-responsive($tablet) {
                    font-size: 16rem;
                }
                @include min-responsive($tablet-hor) {
                    font-size: 18rem;
                }
                @include min-responsive($desktop-laptop) {
                    font-size: 22rem;
                }
                @include min-responsive($desktop) {
                    font-size: 25rem;
                }
            }
            &.without-margin-bottom {
                margin-bottom: 0;
            }
        }
    }
}

.dark-theme {
    &.wrap-title {
        .title {
            color: $white-dark-txt;
            &.with-underline {
                &::after {
                    background-color: $grey-light-border; /* Underline color */
                }
            } 
        }
    }
}

/* We define the animation with keyframes */
@keyframes underline-animation {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}

// AnimatedText animation
@keyframes fadeInUp {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
}