
@import "/src/styles.scss";


.wrap-tools {
    width: 100%;
    margin-top: 2rem;
    &:first-of-type {
        margin-top: 0;
    }
    @include min-responsive($tablet) {
        @include grid(2, 2rem);
    }
    @include min-responsive($desktop) {
        @include grid(4, 2rem);
    }
}