


<footer 
    [ngClass]="isDarkMode ? 'dark-theme' : 'light-theme'" 
    class="wrap-footer">
    <div class="container">
        <div class="wrap-content">
            <div *ngIf="itemsFooter" class="footer-rights">
                <p>{{ "FOOTER.RIGHTS" | translate }} <span>{{ year }}</span></p>
                <p><b>{{ "FOOTER.MY_SITE" | translate }}</b>&nbsp;<i class="pi pi-heart-fill heart-icon"></i></p>
            </div>
            <!-- Skeleton -->
            <div *ngIf="!itemsFooter"class="wrap-skeletons-rights">
                <p-skeleton width="30rem" height="2rem"  />
                <p-skeleton width="25rem" height="2rem"  />
            </div>
            <!-- ---------------- -->
            <nav class="footer-policies">
                <p *ngFor="let footer of footerContent" class="m-0">
                    <a  
                        *ngIf="itemsFooter"
                        [routerLink]="footer.routerLink" 
                        [routerLinkActive]="'active'">
                        {{ footer.label | translate }}
                    </a>
                    <!-- Skeleton -->
                    <span *ngIf="!itemsFooter"class="wrap-skeletons-menu-footer">
                        <p-skeleton width="15rem" height="3rem" />
                    </span>
                    <!-- ---------------- -->
                </p>
            </nav>
            <a 
                [routerLink]="['/']" 
                class="footer-logo">
                <app-wrap-logo 
                    *ngIf="this.isDarkMode === false; else darkMode"
                    imageKey="LOGO_NAVBAR_LIGHT" 
                    [alt]="'OTHERS.ALT_TITLE_LOGO' | translate"
                    [title]="'OTHERS.ALT_TITLE_LOGO' | translate"
                    [height]="140" />
                <ng-template #darkMode>
                    <app-wrap-logo 
                        imageKey="LOGO_NAVBAR_DARK" 
                        [alt]="'OTHERS.ALT_TITLE_LOGO' | translate"
                        [title]="'OTHERS.ALT_TITLE_LOGO' | translate"
                        [height]="140" />
                </ng-template>
            </a>
        </div>
    </div>
</footer>