

@import "/src/styles.scss";

.light-theme,
.dark-theme {
    &.wrap-footer {
        display: flex;
        box-sizing: border-box;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        background: $white-bg;
        padding: 24px;
        text-align: center;
        @include min-responsive($tablet) {
            flex-direction: row;
            justify-content: flex-end;
            gap: 0;
            text-align: start;
            overflow: hidden;
            max-height: 100px;
        }
        .wrap-content {
            display: flex;
            box-sizing: border-box;
            justify-content: space-between;
            align-items: center;
            flex-direction: column;
            gap: 20px;
            @include min-responsive($tablet) {
                flex-direction: row;
                gap: 0;
            }
            .footer {
                &-rights {
                    color: $black-light-txt;
                    min-width: 50%;
                    padding-bottom: 15px;
                    order: 1;
                    @include min-responsive($tablet) {
                        padding-bottom: 0;
                        min-width: auto;
                    }
                    p:last-child {
                        margin-bottom: 0;
                    }
                    .heart-icon {
                        font-size: $icon-heart;
                    }
                }
                &-policies {
                    text-align: center;
                    display: flex;
                    flex-direction: column;
                    box-sizing: border-box;
                    justify-content: space-between;
                    align-items: center;
                    gap: 0;
                    padding-top: 15px;
                    min-width: 50%;
                    border-top: 1px solid $grey-light-border;
                    order: 3;
                    @include min-responsive($tablet) {
                        flex-direction: row;
                        justify-content: flex-end;
                        gap: 20px;
                        padding-top: 0;
                        min-width: 50%;
                        border-top: none;
                        min-width: auto;
                        order: 2;
                    }
                    a {
                        color: $black-light-txt;
                    }
                }
                &-logo {
                    padding-top: 15px;
                    min-width: 50%;
                    border-top: 1px solid $grey-light-border;
                    order: 2;
                    @include min-responsive($tablet) {
                        padding-top: 0;
                        min-width: auto;
                        border-top: none;
                        order: 3;
                    }
                }
            }
        }
        }
}

footer.dark-theme {
    &.wrap-footer {
        background: $black-bg;
        .wrap-content {
            .footer {
                &-rights {
                    color: $white-txt;
                }
                &-policies {                
                    border-top: 1px solid $black-light-border;
                    @include min-responsive($tablet) {
                        border-top: none;
                    }
                    a {
                        color: $white-txt;
                    }
                }
            }
        }
    }
}

// Skeleotns
.wrap-skeletons {
    &-rights {
        display: flex;
        box-sizing: border-box;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 15px;
    }
    &--menu-footer {
        flex-direction: row;
    }
}