


<footer 
    [ngClass]="isDarkMode ? 'dark-theme' : 'light-theme'" 
    class="wrap-footer">
    <div class="container">
        <div class="wrap-content">
            <div class="footer-rights">
                <p>{{ "FOOTER.RIGHTS" | translate }} <span>{{ year }}</span></p>
                <p><b>{{ "FOOTER.MY_SITE" | translate }}</b>&nbsp;<i class="pi pi-heart-fill heart-icon"></i></p>
            </div>
            <nav class="footer-policies">
                <p class="m-0"><a href="javascript:;">{{ "FOOTER.LEGAL" | translate }}</a></p>
                <p class="m-0"><a href="javascript:;">{{ "FOOTER.COOKIES" | translate }}</a></p>
                <p class="m-0"><a href="javascript:;">{{ "FOOTER.PRIVACITY" | translate }}</a></p>
            </nav>
            <a 
                [routerLink]="['/']" 
                class="footer-logo">
                <app-wrap-logo 
                    *ngIf="this.isDarkMode === false; else darkMode"
                    imageKey="LOGO_NAVBAR_LIGHT" 
                    [alt]="'I sell myself'"
                    [title]="'I sell myself'"
                    [height]="140" />
                <ng-template #darkMode>
                    <app-wrap-logo 
                        imageKey="LOGO_NAVBAR_DARK" 
                        [alt]="'I sell myself'"
                        [title]="'I sell myself'"
                        [height]="140" />
                </ng-template>
            </a>
        </div>
    </div>
</footer>