

@import "/src//styles.scss";

.light-theme,
.dark-theme {
    &.wrap-about-page {
        .wrap-description {
            padding: 2rem;
            border-radius: 10px;
            background: rgba($white-bg, .2);
            backdrop-filter: blur(7.5px);
            box-shadow: $skill-shadow-light;
            p {
                margin: 0;
            }
        }
        .title-skills {
            margin-top: 3rem;
            display: flex;
            box-sizing: border-box;
            justify-content: center;
            align-items: center;
            min-width: 100%;
        }
        .wrap-skills {
            width: 100%;
            @include min-responsive($tablet) {
                @include grid(2, 2.5rem);
            }
            .wrap-skill {
                margin-top: 2rem;
                @include min-responsive($tablet) {
                    margin-top: 0;
                }
            }
        }
        .wrap-download-button {
            display: flex;
            box-sizing: border-box;
            justify-content: center;
            align-items: center;
            gap: 1rem;
            margin-top: 2rem;
            @include min-responsive($tablet) {
                justify-content: flex-end;
            }
            p {
                margin: 0;
            }
        }
    }
}

.dark-theme {
    &.wrap-about-page {
        .wrap-description {
            background: rgba($black-bg, .4);
            box-shadow: $skill-shadow-dark;
        }
    }
}