

@import "/src/styles.scss";

.light-theme,
.dark-theme {
  &.wrap-about-page {
    .swiper {
      &-container {
        height: 100vh;
        max-width: 90%;
        margin: 0 auto;
        overflow: hidden;
        position: relative;
        display: flex;
        flex-direction: column;
        @include min-responsive($tablet) {
          height: calc(100vh - 202px);
          margin: 0 auto;
        }
      }
      &-wrapper {
        height: 100%;
        transition: transform .2s ease-in-out;
      }
      &-slide {
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: $txt-main;
        border-bottom: 1px solid $grey-border;
        @include min-responsive($tablet) {
          font-size: calc($txt-main - .5rem);
        }
      }
      &-pagination {
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        display: flex;
        flex-direction: column;
        gap: 10px;
      }
      &-bullet {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        border: 1px solid $grey-dark-border;
        cursor: pointer;
        transition: background-color .2s;
        @include min-responsive($tablet) {
          width: 10px;
          height: 10px;
        }
      }
      &-bullet.active {
        background-color: $grey-light-bg;
      }
    }
    
    // Content each slide
    .slide-content {
      position: relative;
      top: -100px;
      width: 100%;
      height: calc(100% - 200px);
      padding: 20px 0;
      @include min-responsive($tablet) {
        padding: 50px 0;
      }
    }
  }
}


.dark-theme {
  &.wrap-about-page {
    .swiper {
      &-slide {
        border-bottom: 1px solid $black-light-border;
      }
      &-bullet {
        border: 1px solid $white-border;
      }
      &-bullet.active {
        background-color: $grey-dark-bg;
      }
    }
  }
}