

// Desktop
$h1-desk: 4.8rem;
$h2-desk: 4.4rem;
$h3-desk: 4rem;

// Tablet
$h1-tab: 4rem;
$h2-tab: 3.6rem;
$h3-tab: 3.2rem;

// Mobile
$h1-mob: 3.2rem;
$h2-mob: 2.8rem;
$h3-mob: 2.4rem;

// Main text
$txt-menu: 2rem;
$txt-main: 1.6rem;

// Icon Mode Dark/Light
$icon-mode: 2.4rem;
$icon-lang: 2.4rem;