


<div 
    [ngClass]="isDarkMode ? 'dark-theme' : 'light-theme'" 
    class="wrap-tool animate__animated animate__fadeIn">
    <div class="wrap-header">
        <div class="wrapper-title">
            <div class="wrap-title">
                <app-title-pages 
                    [text]="tool.title" 
                    [titleType]="titleType" 
                    [withUnderline]="false"
                    [withoutMarginBottom]="true" />
                <div *ngIf="tool.favorite" class="wrap-icon-favorite animate__animated animate__fadeIn animate__slideInDown">
                    <i [ngStyle]="{'color': tool.favorite === true ? '#e90502' : ''}"
                        style="font-size: 1.6rem;" class="pi pi-heart-fill"></i>
                </div>
            </div>
            <p class="subtitle">{{ tool.subtitle | translate }}</p>
        </div>
        <div class="wrap-logo">
            <app-wrap-imgs 
                [imageSrc]="tool.image"
                [altImg]="tool.title | translate"
                [title]="tool.title | translate"
                [shapeSkeleton]="shapeSkeleton"
                [showSkeleton]="showSkeleton" />
        </div>
    </div>
    <div class="wrap-content">
        <div class="wrap-chart-description">
            <div class="char">
                <app-wrap-chart [dataChart]="tool" />
            </div>
            <p class="description">{{ tool.description | translate }}</p>
        </div>
        <ul class="wrap-skills">
            <li *ngFor="let tag of tool.tags; let i = index" class="skill">
                <app-skill-tool [nameTag]="tag"></app-skill-tool>
            </li>
        </ul>
    </div>
    <div class="wrap-button-back">
        <p-button 
            (click)="goBack()" 
            [label]="'TOOL_PAGE.TOOL_BUTTON_BACK' | translate" 
            [outlined]="true" 
            severity="info" />
    </div>
</div>