

@import "/src/styles.scss";

.light-theme, .dark-theme {
    &.wrap-tool {
        display: flex;
        box-sizing: border-box;
        flex-direction: column;
        justify-content: flex-start;
        align-items: normal;
        gap: 3rem;
        .wrap-header {
            display: flex;
            box-sizing: border-box;
            justify-content: space-between;
            align-items: center;
            .wrapper-title {
                display: flex;
                box-sizing: border-box;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
                .wrap-title {
                    display: flex;
                    box-sizing: border-box;
                    justify-content: flex-start;
                    align-items: center;
                    position: relative;
                    .wrap-icon-favorite {
                        position: absolute;
                        right: 5rem;
                        top: 2.5rem;
                        @include min-responsive($tablet) {
                            right: -1.5rem;
                            top: 3rem;
                        }
                    }
                }
                .subtitle {
                    margin: 0;
                    color: $grey-dark-txt;
                }
            }
            .wrap-logo {
                display: flex;
                box-sizing: border-box;
                justify-content: center;
                align-items: center;
                width: 10rem;
                height: 10rem;
            }
        }
        .wrap-content {
            display: flex;
            box-sizing: border-box;
            flex-direction: column;
            justify-content: flex-start;
            align-items: normal;
            gap: 3rem;
            .wrap-chart-description {
                display: flex;
                box-sizing: border-box;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 2rem;
                @include min-responsive($tablet) {
                    flex-direction: row;
                }
                .wrap-description {
                    width: 100%;
                    display: flex;
                    box-sizing: border-box;
                    flex-direction: column;
                    justify-content: flex-end;
                    align-items: flex-end;
                    gap: 2rem;
                    .wrap-button-site {
                        display: flex;
                        box-sizing: border-box;
                        justify-content: flex-end;
                        align-items: center;
                        width: 100%;
                        @include min-responsive($tablet-hor) {
                            width: fit-content;
                        }
                        .button-site {
                            flex: 1 1 100%;
                            @include min-responsive($tablet-hor) {
                                flex: 1 1 auto;
                            }
                            &::ng-deep {
                                .p-button {
                                    width: 100%;
                                    @include min-responsive($tablet-hor) {
                                        width: fit-content;
                                    }
                                }
                            }
                        }
                    }
                    .skeleton-description {
                        width: 100%;
                    }
                }
            }
            .wrap-skills {
                display: flex;
                box-sizing: border-box;
                flex-direction: column;
                justify-content: flex-start;
                align-items: center;
                gap: 2.5rem;
                @include min-responsive($tablet-hor) {
                    @include grid(3, 2.5rem);
                }
                .skill {
                    min-width: 100%;
                }
            }
        }
        .wrap-button-back {
            display: flex;
            box-sizing: border-box;
            justify-content: flex-end;
            align-items: center;
            width: 100%;
            &::ng-deep {
                p-button {
                    width: 100%;
                    @include min-responsive($tablet-hor) {
                        width: fit-content;
                    }
                    button {
                        width: 100%;
                        @include min-responsive($tablet-hor) {
                            width: fit-content;
                        }
                    }
                }
            }
        }
    }
}