

<div [ngClass]="isDarkMode ? 'dark-theme' : 'light-theme'" class="wrap-error">
    <section class="wrap-animation">
        <iframe src="https://lottie.host/embed/6bf8b921-5e59-4d08-9e37-793a8a4b54de/CCkNLpbzes.json"></iframe>
        <button class="scroll-indicator" (click)="scrollDown()">
            <i class="pi pi-arrow-down"></i>
        </button>
    </section>
    <section class="wrap-info">
        <app-title-pages [titleType]="titleType" [withUnderline]="false" [centerText]="true" [title]="'ERROR_PAGE.TITLE' | translate"></app-title-pages>
        <div class="wrap-button">
            <button pButton (click)="goBack()" [icon]="'pi pi-backward'" [outlined]="true" [label]="'ERROR_PAGE.GO_BACK' | translate"></button>
        </div>
    </section>
</div>
