


// Brand Colors
$primary-alert: #eafa02;
$primary-alert-hover: #e9fa026c;
$primary-dark-alert: #cbd807;
$primary-dark-alert-hover: #cad80760;
$secondary-alert: #abfa56;
$secondary-alert-hover: #abfa565e;
$secondary-dark-alert: #8acb44;
$secondary-dark-alert-hover: #8acb4468;

// Main Colors
$white-alert: #ffffff;
$white-dark-alert: #f9f9f9;
$grey-light-alert: #ededed;
$grey-alert: #d0d0d0;
$grey-dark-alert: #9f9d9d;
$black-light-alert: #212830;
$black-alert: #1c1c1c;

// State Colors
$info-alert: #02faff;
$info-light-alert: #9df7f8;
$info-dark-alert: #03a7aa;
$danger-alert: #e90502;
$danger-light-alert: #f7a4a3;
$danger-dark-alert: #910603;
$warning-alert: #eded00;
$warning-light-alert: #fbfba8;
$warning-dark-alert: #8c8c02;
$success-alert: #71e002;
$success-light-alert: #d3fbaa;
$success-dark-alert: #468a03;