

// Brand Colors
$primary-bg: #eafa02;
$primary-dark-bg: #cbd807;
$secondary-bg: #abfa56;
$secondary-dark-bg: #8acb44;

// Main Colors
$white-bg: #ffffff;
$white-dark-bg: #f9f9f9;
$grey-light-bg: #ededed;
$grey-bg: #d0d0d0;
$grey-dark-bg: #9f9d9d;
$black-light-bg: #212830;
$black-bg: #1c1c1c;

// State Colors
$info-bg: #02faff;
$info-light-bg: #9df7f8;
$info-dark-bg: #03a7aa;
$danger-bg: #e90502;
$danger-light-bg: #f7a4a3;
$danger-dark-bg: #910603;
$warning-bg: #eded00;
$warning-light-bg: #fbfba8;
$warning-dark-bg: #8c8c02;
$success-bg: #71e002;
$success-light-bg: #d3fbaa;
$success-dark-bg: #468a03;