




// Brand Colors
$primary-border: #eafa02;
$primary-border-hover: #e9fa026c;
$primary-dark-border: #cbd807;
$primary-dark-border-hover: #cad80760;
$secondary-border: #abfa56;
$secondary-border-hover: #abfa565e;
$secondary-dark-border: #8acb44;
$secondary-dark-border-hover: #8acb4468;

// Main Colors
$white-border: #ffffff;
$white-dark-border: #f9f9f9;
$grey-light-border: #ededed;
$grey-border: #d0d0d0;
$grey-dark-border: #9f9d9d;
$black-light-border: #212830;
$black-border: #1c1c1c;

// State Colors
$info-border: #02faff;
$info-light-border: #9df7f8;
$info-dark-border: #03a7aa;
$danger-border: #e90502;
$danger-light-border: #f7a4a3;
$danger-dark-border: #910603;
$warning-border: #eded00;
$warning-light-border: #fbfba8;
$warning-dark-border: #8c8c02;
$success-border: #71e002;
$success-light-border: #d3fbaa;
$success-dark-border: #468a03;