



// Brand Colors
$primary-btn: #eafa02;
$primary-dark-btn: #cbd807;
$secondary-btn: #abfa56;
$secondary-dark-btn: #8acb44;

// Main Colors
$white-btn: #ffffff;
$white-dark-btn: #f9f9f9;
$grey-light-btn: #ededed;
$grey-btn: #d0d0d0;
$grey-dark-btn: #9f9d9d;
$black-light-btn: #212830;
$black-btn: #1c1c1c;

// State Colors
$info-btn: #02faff;
$info-light-btn: #9df7f8;
$info-dark-btn: #03a7aa;
$danger-btn: #e90502;
$danger-light-btn: #f7a4a3;
$danger-dark-btn: #910603;
$warning-btn: #eded00;
$warning-light-btn: #fbfba8;
$warning-dark-btn: #8c8c02;
$success-btn: #71e002;
$success-light-btn: #d3fbaa;
$success-dark-btn: #468a03;