



// Brand Colors
$primary-btn: #eafa02;
$primary-btn-hover: #e9fa026c;
$primary-dark-btn: #cbd807;
$primary-dark-btn-hover: #cad80760;
$secondary-btn: #abfa56;
$secondary-btn-hover: #abfa565e;
$secondary-dark-btn: #8acb44;
$secondary-dark-btn-hover: #8acb4468;
// Main Colors
$white-btn: #ffffff;
$white-dark-btn: #f9f9f9;
$grey-light-btn: #ededed;
$grey-btn: #d0d0d0;
$grey-dark-btn: #9f9d9d;
$black-light-btn: #212830;
$black-btn: #1c1c1c;

// State Colors
$info-btn: #02faff;
$info-light-btn: #d2fdfd;
$info-dark-btn: #03a7aa;
$danger-btn: #e90502;
$danger-light-btn: #ffe6e6;
$danger-dark-btn: #910603;
$warning-btn: #eded00;
$warning-light-btn: #f8f8cf;
$warning-dark-btn: #8c8c02;
$success-btn: #71e002;
$success-light-btn: #eafada;
$success-dark-btn: #468a03;