





// Brand Colors
$primary-shadow: #eafa02;
$primary-shadow-hover: #e9fa026c;
$primary-dark-shadow: #cbd807;
$primary-dark-shadow-hover: #cad80760;
$secondary-shadow: #abfa56;
$secondary-shadow-hover: #abfa565e;
$secondary-dark-shadow: #8acb44;
$secondary-dark-shadow-hover: #8acb4468;

// Main Colors
$white-shadow: #ffffff;
$white-dark-shadow: #f9f9f9;
$grey-light-shadow: #ededed;
$grey-shadow: #d0d0d0;
$grey-dark-shadow: #9f9d9d;
$black-light-shadow: #212830;
$black-shadow: #1c1c1c;
$black-strong-shadow: #000000;

// State Colors
$info-shadow: #02faff;
$info-light-shadow: #9df7f8;
$info-dark-shadow: #03a7aa;
$danger-shadow: #e90502;
$danger-light-shadow: #f7a4a3;
$danger-dark-shadow: #910603;
$warning-shadow: #eded00;
$warning-light-shadow: #fbfba8;
$warning-dark-shadow: #8c8c02;
$success-shadow: #71e002;
$success-light-shadow: #d3fbaa;
$success-dark-shadow: #468a03;

// Shadow
$shadow-light: rgba(#565656, .4) ;
$shadow-dark: rgba(#0e0e0e, .7);
// Navbar
$navbar-shadow-light: 0px 10px 6px -4px $shadow-light;
$navbar-shadow-dark: 0px 10px 6px -4px $shadow-dark;
// Card's
$card-shadow-light: 0px 25px 20px -10px rgba($shadow-light, .3);
$card-shadow-dark:  0px 15px 20px -10px rgba($shadow-dark, 1);