





// Brand Colors
$primary-shadows: #eafa02;
$primary-dark-shadows: #cbd807;
$secondary-shadows: #abfa56;
$secondary-dark-shadows: #8acb44;

// Main Colors
$white-shadows: #ffffff;
$white-dark-shadows: #f9f9f9;
$grey-light-shadows: #ededed;
$grey-shadows: #d0d0d0;
$grey-dark-shadows: #9f9d9d;
$black-light-shadows: #212830;
$black-shadows: #1c1c1c;

// State Colors
$info-shadows: #02faff;
$info-light-shadows: #9df7f8;
$info-dark-shadows: #03a7aa;
$danger-shadows: #e90502;
$danger-light-shadows: #f7a4a3;
$danger-dark-shadows: #910603;
$warning-shadows: #eded00;
$warning-light-shadows: #fbfba8;
$warning-dark-shadows: #8c8c02;
$success-shadows: #71e002;
$success-light-shadows: #d3fbaa;
$success-dark-shadows: #468a03;

// Shadows
$navbar-shadow-light: 0px 10px 6px -4px $grey-light-shadows;
$navbar-shadow-dark: 0px 10px 6px -4px $black-shadows;