



// Brand Colors
$primary-txt: #deee04;
$primary-txt-hover: #e9fa026c;
$primary-dark-txt: #889203;
$primary-dark-txt-hover: #cad80760;
$secondary-txt: #abfa56;
$secondary-txt-hover: #abfa565e;
$secondary-dark-txt: #8acb44;
$secondary-dark-txt-hover: #8acb4468;

// Main Colors
$white-txt: #ffffff;
$white-dark-txt: #f9f9f9;
$grey-light-txt: #ededed;
$grey-txt: #d0d0d0;
$grey-dark-txt: #9f9d9d;
$black-light-txt: #212830;
$black-txt: #1c1c1c;

// State Colors
$info-txt: #02faff;
$info-light-txt: #9df7f8;
$info-dark-txt: #03a7aa;
$danger-txt: #e90502;
$danger-light-txt: #f7a4a3;
$danger-dark-txt: #910603;
$warning-txt: #eded00;
$warning-light-txt: #fbfba8;
$warning-dark-txt: #8c8c02;
$success-txt: #71e002;
$success-light-txt: #d3fbaa;
$success-dark-txt: #468a03;