

::ng-deep {
    .light-theme, .dark-theme {
        // Card
        .p-card {
            .p-card-body {
                padding-top: 0;
            }
            &-title {
                font-size: $h3-mob;
                margin: 0;
                @include min-responsive($tablet) {
                    font-size: $h3-tab;
                    line-height: 3rem;
                }
                @include min-responsive($tablet-hor) {
                    font-size: $h3-desk;
                    line-height: 3.5rem;
                }
            }
            &-subtitle {
                font-size: $txt-main;
                margin: 0;
                @include min-responsive($tablet) {
                    margin-top: 5px;
                }
            }
        }
        // Button to top
        .p-scrolltop {
            background: rgba($white-bg, .2);
            backdrop-filter: blur(1.5rem);
            width: 5rem;
            height: 5rem;
            border-radius: 50%;
            transition: box-shadow .2s ease-in-out;
            &:hover {
                box-shadow: $skill-shadow-light; 
            }
            .p-scrolltop-icon {
                path {
                    fill: $black-bg;
                }
            }
        }
        // Toast
        .p-toast {
            width: fit-content;
            .p-toast-message-text {
                font-size: $txt-main;
            }
        }
        // Skeleton
        .p-skeleton {
            background: $grey-light-bg;
            &::after {
                background: $bg-skeleton-light;
            }
        }
        // Dial
        .speeddial-tooltip {
            &.p-speeddial-direction-down-left {
                left: 0;
                bottom: 0;
            }
            button {
                border-radius: $border-radius-50;
                border: none;
                background: rgba($white-bg, .2);
                backdrop-filter: blur(1.5rem);
                width: 5rem;
                height: 5rem;
                z-index: 1002;
                box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
                transition: box-shadow .2s ease-in-out;
                &:hover {
                    box-shadow: $skill-shadow-light; 
                }
                &:focus {
                    box-shadow: none;
                }
                .pi {
                    color: $black-bg;
                }
                @include min-responsive($tablet-hor) {
                    width: 5rem;
                    height: 5rem;
                    .pi {
                        &.pi-icon {
                            width: 2rem;
                            height: 2rem;
                        }
                    }
                }
            }
            ul {
                li a {
                    color: $black-bg;
                    width: 5rem;
                    height: 5rem;
                    text-decoration: none;
                    span {
                        font-size: $icon-dial;
                    }
                }
            } 
        }
    }
    .dark-theme {
        // Button to top
        .p-scrolltop {
            background: rgba($black-bg, .4);
            box-shadow: $button-fix-dark;
            &:hover {
                box-shadow: $button-fix-shadow-dark-hover; 
            }
            .p-scrolltop-icon {
                path {
                    fill: $white-bg;
                }
            }
        }
        // Toast
        .p-toast {
            opacity: 1;
        }
        // Skeleton
        .p-skeleton {
            background: $black-light-bg;
            &::after {
                background: $bg-skeleton-dark;
            }
        }
        // Dial
        .speeddial-tooltip {
            button {
                background: rgba($black-bg, .4);
                box-shadow: $button-fix-dark;
                &:hover {
                    box-shadow: $button-fix-shadow-dark-hover; 
                }
                .pi {
                    color: $white-bg;
                }
            }
            ul {
                li a {
                    color: $white-bg;
                }
            } 
        }
    }
} 