

::ng-deep {
    .light-theme,
    .dark-theme {
        // Card
        .p-card {
            .p-card-body {
                padding-top: 0;
            }
            &-title {
                font-size: $h3-mob;
                margin: 0;
                @include min-responsive($tablet) {
                    font-size: $h3-tab;
                    line-height: 3rem;
                }
                @include min-responsive($tablet-hor) {
                    font-size: $h3-desk;
                    line-height: 3.5rem;
                }
            }
            &-subtitle {
                font-size: $txt-main;
                margin: 0;
                @include min-responsive($tablet) {
                    margin-top: 5px;
                }
            }
        }
        // Button to top
        .p-scrolltop {
            background: $white-bg;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            transition: box-shadow .2s ease-in-out;
            &:hover {
                box-shadow: $buttonToTop-shadow-light; 
            }
            .p-scrolltop-icon {
                path {
                    fill: $black-bg;
                }
            }
        }
        // Toast
        .p-toast {
            width: fit-content;
            .p-toast-message-text {
                font-size: $txt-main;
            }
        }
        // Skeleton
        .p-skeleton {
            background: $grey-light-bg;
            &::after {
                background: linear-gradient(90deg, rgba($grey-bg, 0), rgba($grey-bg, 0.4), rgba($grey-bg, 0));
            }
        }
    }
    .dark-theme {
        .p-scrolltop {
            background: $black-bg;
            &:hover {
                box-shadow: $buttonToTop-shadow-dark; 
            }
            .p-scrolltop-icon {
                path {
                    fill: $white-bg;
                }
            }
        }
        .p-toast {
            opacity: 1;
        }
        .p-skeleton {
            background: $black-light-bg;
            &::after {
                background: linear-gradient(90deg, rgba($black-bg, 0), rgba($black-bg, 0.4), rgba($black-bg, 0));
            }
        }
        
    }
} 