

::-webkit-scrollbar {
    width: 7.5px;
}
::-moz-scrollbar {
    width: 7.5px;
}
/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px transparent; 
    border-radius: 5px;
}  
::-moz-scrollbar-track {
    box-shadow: inset 0 0 5px transparent; 
    border-radius: 5px;
}  
/* Handle */
::-webkit-scrollbar-thumb {
    background: $grey-dark-bg; 
    border-radius: 10px;
} 
::-moz-scrollbar-thumb {
    background: $grey-dark-bg; 
    border-radius: 10px;
} 
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: $black-light-bg; 
}
::-moz-scrollbar-thumb:hover {
    background: $black-light-bg; 
}