


::-webkit-scrollbar {
    width: 5px;
}
::-moz-scrollbar {
    width: 5px;
}
/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px var(--brand-color-red); 
    border-radius: 5px;
}  
::-moz-scrollbar-track {
    box-shadow: inset 0 0 5px var(--brand-color-red); 
    border-radius: 5px;
}  
/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--brand-color-blue); 
    border-radius: 10px;
} 
::-moz-scrollbar-thumb {
    background: var(--brand-color-blue); 
    border-radius: 10px;
} 
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--brand-color-blue-hover); 
}
::-moz-scrollbar-thumb:hover {
    background: var(--brand-color-blue-hover); 
}