

::-webkit-scrollbar {
    width: .75rem;
}
::-moz-scrollbar {
    width: .75rem;
}
/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px transparent; 
    border-radius: .5rem;
}  
::-moz-scrollbar-track {
    box-shadow: inset 0 0 5px transparent; 
    border-radius: .5rem;
}  
/* Handle */
::-webkit-scrollbar-thumb {
    background: $grey-dark-bg; 
    border-radius: 1rem;
} 
::-moz-scrollbar-thumb {
    background: $grey-dark-bg; 
    border-radius: 1rem;
} 
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: $black-bg; 
}
::-moz-scrollbar-thumb:hover {
    background: $black-bg; 
}