

<div class="wrap-img">
    <div *ngIf="showSkeleton" class="wrap-skeleton-logo">
        <p-skeleton *ngIf="shapeSkeleton === 'circle'" shape="circle" size="10rem" />
        <p-skeleton *ngIf="shapeSkeleton === 'square'" shape="square" size="25rem" />
    </div>
    <img 
        *ngIf="imageSrc && !showSkeleton" 
        (load)="onLoad()"
        [src]="imageSrc | safeImageFallback" 
        (error)="onImageError($event)"
        [alt]="altImg"
        [title]="altImg"
        [height]="height">
</div>