

.wrap-img {
    .wrap-skeleton-logo {
        ::ng-deep {
            .p-skeleton {
                left: 50%;
                transform: translateX(-50%);
            }
        }
    }
    img {
        width: 100%;
        height: 100%;
    }
}